{% load static %}

<link rel="stylesheet" href="{% static 'css/base.css' %}">

<div class="container">
    <div class="card" style="text-align:center;">

        <!-- Success Icon -->
         <div class="success-icon">✅</div>
        

        <div class="title">Application Submitted</div>

        <div class="subtitle">
            Your loan application has been successfully submitted.
            <br><br>
            Our team will review your details and contact you shortly.
        </div>

        <div style="margin-top:25px;">
            <a href="/" class="btn">Go to Home</a>
        </div>

    </div>
</div>